:root { 
  color: aqua;
}
 * { 
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.4;
}

body {   
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    height: 100vh;
}

.style{
    color: blue;
    text-align: justify;
}
form{
    width: 20rem;
    height: 20rem;
    background-color: rgba(218, 245, 244, 0.542);
    margin: 2rem auto;
    border-radius:6px solid black ;
    color: black;
    text-align: center;
}
    input{
        background-color: rgba(27, 169, 164, 0.442);
        border-radius: 2px solid black;
        margin: 5px;
    }
    input:visited{
        background-color: rgba(220, 20, 60, 0.711);
    }

.content{
    width: 15rem;
    background-color: rgba(0, 0, 255, 0.393);
    padding: 20px;
    margin: 0 auto;
    font-size:10px;
    border: 2px solid black;
    border-radius: 30px;
}
.sidebar{
    width: 6rem;
    height: 10rem;
    float: left;
  }
  .content{
    width: 15rem;
    background-color: rgba(0, 0, 255, 0.393);
    padding: 20px;
    margin: 0 auto;
    font-size:10px;
    border: 2px solid black;
    border-radius: 30px;
}
.sidebar{
    width: 6rem;
    height: 10rem;
    float: left;
    background-color: rgba(121, 24, 108, 0.712)
}
.artcle{
    width: 6rem;
    height: 10rem;
    float: right;
    background-color: rgba(255, 208, 0, 0.512);
}
.footer{
    clear: both;
}
<<<<<<< HEAD
=======

>>>>>>> day11/5




