:root { 
  color: aqua;
}
 * { 
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.4;
}
body {   
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    height: 2000px;
}
.style{
    color: blue;
    text-align: justify;
}
form{
    width: 20rem;
    height: 20rem;
    background-color: rgba(218, 245, 244, 0.542);
    margin: 2rem auto;
    border-radius:6px solid black ;
    color: black;
    text-align: center;
}
    input{
        background-color: rgba(27, 169, 164, 0.442);
        border-radius: 2px solid black;
        margin: 5px;
    }
    input:hover{
        background-color: rgba(220, 20, 60, 0.711);
    }
    /* dropdown horizoltal */
.container ul{
    list-style-type: none;
    text-align: center;
    background-color: rgba(149, 24, 174, 0.416);
    text-transform: uppercase;
}
    .container ul li{
        display: inline-table;
        width: 10rem;height: 5rem;
        line-height: 5rem;
        position: relative;
        /* border: 2px solid rgba(255, 0, 144, 0.705);
        border-radius: 10px; */
    }
    .container ul li a{
        text-decoration: none;
        display: block;
        font-size: 30px;
        font-weight: bold;
        background-color: aqua;
        color: crimson;
        border: 2px solid rgba(255, 0, 144, 0.705);
        border-radius: 10px;
    }
    .container ul li a:hover{
        text-decoration: none;
        display: block;
        background-color: rgba(251, 0, 255, 0.497);
        color: rgb(20, 197, 220);
    }
        .item1__dropdown{
        display: none;
        position: absolute;
        z-index: 2;
    }
    .container ul li:hover .item1__dropdown{
        display: block;
    }

     /* dropdown vertical */
.sidebar ul{
        list-style-type: none;
        text-align: center;
        width: 8rem;
        background-color: white;
        text-transform: uppercase;
}
    .sidebar ul li{
        width: auto;
        height: 3rem;
        line-height: 3rem;
        position: relative;
        /* border: 2px solid rgba(255, 0, 144, 0.705);
        border-radius: 10px; */
    }
    .sidebar ul li a{
        text-decoration: none;
        display: block;
        font-size: 10px;
        font-weight: bold;
        background-color: rgba(21, 255, 0, 0.585);
        color: rgb(7, 67, 124);
        border: 1px solid rgba(255, 0, 144, 0.293);
    }
    .sidebar ul li a:hover{
        display: block;
        background-color: rgba(251, 0, 255, 0.497);
        color: rgb(20, 197, 220);
    }
        .list__dropdowwn{
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 8rem;
    }
    .sidebar ul li:hover .list__dropdowwn{
        display: block;
    }